# virtualenv
.venv/
# python cache
__pycache__/
*.py[cod]
# pytest cache
.pytest_cache/
# coverage reports
.coverage
coverage.json
htmlcov/
# local temp files
tmp/
*.log
# OS files
.DS_Store
.env


#Ignore cursor AI rules
.cursor\rules\codacy.mdc
